doctype html
html(lang="ru")
    include ../includes/_head
    body
        div.page_wrapper
            include ../includes/_header
            div.catalog_top
                div.container
                    div.catalog_top_wrapper
                        div.catalog_top_title
                            h2.catalog_tittle каталог препаратов
                        div.catalog_top_menu
                            ul.catalog_menu_wrapper
                                li.catalog_menu_item
                                    a(href="#").catalog_menu_link.catalog_menu_link_active Вся продукция
                                li.catalog_menu_item
                                    a(href="#").catalog_menu_link.catalog_menu_link_submenu По системе использования
                                    ul.catalog_minimenu_wrapper
                                        li.catalog_minimenu_item
                                            a(href="#").catalog_minimenu_link Пункт Меню
                                        li.catalog_minimenu_item
                                            a(href="#").catalog_minimenu_link Пункт Меню
                                        li.catalog_minimenu_item
                                            a(href="#").catalog_minimenu_link Пункт Меню
                                        li.catalog_minimenu_item
                                            a(href="#").catalog_minimenu_link Пункт Меню
                                li.catalog_menu_item
                                    a(href="#").catalog_menu_link.catalog_menu_link_submenu По действию
                                    ul.catalog_minimenu_wrapper
                                        li.catalog_minimenu_item
                                            a(href="#").catalog_minimenu_link Пункт Меню
                                        li.catalog_minimenu_item
                                            a(href="#").catalog_minimenu_link Пункт Меню
                                        li.catalog_minimenu_item
                                            a(href="#").catalog_minimenu_link Пункт Меню
                                        li.catalog_minimenu_item
                                            a(href="#").catalog_minimenu_link Пункт Меню
                                li.catalog_menu_item
                                    a(href="#").catalog_menu_link Фармаконадзор
                        div.catalog_top_nav
                            a(href="#").nav_link.nav_active_link
                            a(href="#").nav_link A
                            a(href="#").nav_link A
                            a(href="#").nav_link A
                            a(href="#").nav_link A
                            a(href="#").nav_link A
                            a(href="#").nav_link A
            div.history_line
                div.container
                    div.history_line_wrapper
                        span
                            a(href="/index.html" title="Головна").history_link Головна
                        span.history_item /
                        span Каталог
            div.catalog_content
                div.container
                    div.catalog_wrapper
                        div.catalog_menu
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                            div.catalog_item
                                a(href="#").cataloge_item_img
                                    img(src="img/no_image.png")
                                div.catalog_item_info
                                    a(href="#").cataloge_item_name Название
                                    p.catalog_item_manufacturer Производитель: Украина
                                    p.category_item_text Діюча Речовини: метамізол натрію, пітофенону гідрохлорид, фенпіверинію бромід Показання до застосування: Комбінований знеболюючий та спазмолітичний засіб. Чинить аналгетичну і...
                        div.catalog_pages
                            a(href="#").pages.pages_active 1
                            a(href="#").pages 2
                            a(href="#").pages 3
                            a(href="#").pages_next_link
            include ../includes/_category
            div.warning
                div.container_warning
                    h3.warning_message Самолечение может быть вредным для вашего здоровья
            include ../includes/_footer
        include ../includes/_scripts