doctype html
html(lang="ru")
    include ../includes/_head
    body
        div.page_wrapper
            include ../includes/_header
            div.owl-carousel.owl-theme
                div.slide
                    div.carousel_wrapper
                        div.container
                            div.carousel_text_wrapper
                                div.carousel_text_block
                                    h2.carousel_title ИННОВАЦИОННЫЕ ТЕХНОЛОГИИ ПО МИРОВЫМ СТАНДАРТАМ
                                    p.carousel_text Lorem Ipsum — это текст-«рыба», часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной «рыбой» для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без...
                    img(src="img/slide_1-1920x749.jpg").carousel_img
                div.slide
                    div.carousel_wrapper
                        div.container
                            div.carousel_text_wrapper
                                div.carousel_text_block
                                    h2.carousel_title НАДЕЖНОЕ И ДОЛГОСРОЧНОЕ БИЗНЕС-ПАРТНЕРСТВО
                                    p.carousel_text Lorem Ipsum — это текст-«рыба», часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной «рыбой» для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без...
                    img(src="img/slide_2-1920x749.jpg").carousel_img
                div.slide
                    div.carousel_wrapper
                        div.container
                            div.carousel_text_wrapper
                                div.carousel_text_block
                                    h2.carousel_title БЕЗОПАСНАЯ И ВЫСОКОКАЧЕСТВЕННАЯ ПРОДУКЦИЯ
                                    p.carousel_text Lorem Ipsum — это текст-«рыба», часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной «рыбой» для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без...
                    img(src="img/slide_3-1920x749.jpg").carousel_img
            div.about_us
                div.container
                    div.about_us_wrapper
                        h2.about_us_title О КОМПАНИИ
                        div.about_us_block
                            div.about_us_left
                                p.about_us_text Компания «ФОРС-ФАРМА ДИСТРИБЮШН» — команда профессионалов своего дела, которые любят свою работу, ценят свое здоровье, и здоровье своей нации. Несмотря на молодой возраст — мы составили серьезную конкуренцию для фармацевтических компаний, которые существуют уже не один десяток лет. Это говорит о серьезности намерений выйти в топ ведущих дистрибьюторов лекарственных средств на территории Украины. Мы стремительно развиваемся и можем предложить покупателям продукцию отечественного и зарубежного производства по самым выгодным ценам, кроме того — мы являемся единственными официальными представителями ряда зарубежных производителей и их препаратов.
                                p
                                    strong «ФОРС-ФАРМА ДИСТРИБЮШН»
                                p
                                    strong МЫ РАБОТАЕМ РАДИ ВАШЕГО ЗДОРОВЬЯ!
                            div.about_us_right
                                img(src="img/about_us_img-768x407.png").about_us_img
            include ../includes/_category
            div(id="map")
                div.map_info_wrapper
                    div.map_info
                        ul.map_info_menu
                            li.map_info_item
                                img(src='img/map_icon_white.png')
                                a.map_info_link
                            li.map_info_item
                                img(src='img/mail_icon_white.png')
                                a.map_info_link
                            li.map_info_item
                                img(src='img/tel_icon_white.png')
                                a.map_info_link
            include ../includes/_footer
        include ../includes/_scripts