doctype html
html(lang="ru")
    include ../includes/_head
    body
        div.page_wrapper
            include ../includes/_header
            div.carousel
            div.about_us
                div.container
                    div.about_us_wrapper
                        div.about_us_left
                            h2.about_us_title
                            p.about_us_text Компания «ФОРС-ФАРМА ДИСТРИБЮШН» — команда профессионалов своего дела, которые любят свою работу, ценят свое здоровье, и здоровье своей нации. Несмотря на молодой возраст — мы составили серьезную конкуренцию для фармацевтических компаний, которые существуют уже не один десяток лет. Это говорит о серьезности намерений выйти в топ ведущих дистрибьюторов лекарственных средств на территории Украины. Мы стремительно развиваемся и можем предложить покупателям продукцию отечественного и зарубежного производства по самым выгодным ценам, кроме того — мы являемся единственными официальными представителями ряда зарубежных производителей и их препаратов.
                            p
                                strong «ФОРС-ФАРМА ДИСТРИБЮШН»
                            p
                                strong МЫ РАБОТАЕМ РАДИ ВАШЕГО ЗДОРОВЬЯ!
                        div.about_us_right
                            img(src="img/about_us_img-768x407.png").about_us_img
            include ../includes/_category
            div.maps
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2544.1617139776436!2d30.476106015728913!3d50.3821838794659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c8cb02392851%3A0x6aeed52dc6c99a55!2z0JPQvtC70L7RgdC10LXQstGB0LrQuNC5INC_0YDQvtGB0L8uLCAxMzIsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1558037762568!5m2!1sru!2sua" frameborder="0" style="border:0")
            include ../includes/_footer
        include ../includes/_scripts