doctype html
html(lang="ru")
    include ../includes/_head
    body
        div.page_wrapper
            include ../includes/_header
            div.carousel
            div.about_us
            include ../includes/_category
            div.maps
            include ../includes/_footer
        include ../includes/_scripts