doctype html
html(lang="ru")
    include ../includes/_head
    body
        div.page_wrapper
            include ../includes/_header
            main.page_content
                section.section_home.fix_header.section.section_margin

            include ../includes/_footer
        include ../includes/_scripts