*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  min-width: 320px;
  font-size: 18px;
  margin: 0px;
  line-height: 1.875rem;
  font-family: 'Roboto Slab Light',sans-serif; }

img {
  max-width: 100%;
  height: auto !important;
  -o-object-fit: cover;
     object-fit: cover; }

video {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto Slab Bold', sans-serif; }

h2 {
  font-size: 2.8rem;
  line-height: .9; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1.15rem; }

h6 {
  font-size: 1rem; }

p {
  font-size: 16px;
  font-family: 'Roboto Slab Light',sans-serif;
  line-height: 2; }

h5, h6, p {
  margin-bottom: 1.25rem; }

a {
  text-decoration: none;
  color: #3eb5f1; }

ul li {
  list-style-type: none; }

.section_header {
  width: 100%;
  height: 11rem;
  border-bottom: 2px solid black;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 10;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }
  .section_header .header_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 100%; }
    .section_header .header_wrapper .header_logo {
      height: 100%;
      position: relative; }
      .section_header .header_wrapper .header_logo .home_link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        padding: 1.5rem 0;
        -webkit-transition: .5s all;
        -o-transition: .5s all;
        transition: .5s all; }
        .section_header .header_wrapper .header_logo .home_link img {
          height: 100% !important; }
    .section_header .header_wrapper .header_menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .section_header .header_wrapper .header_menu .header_menu_wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
            -ms-flex-align: stretch;
                align-items: stretch; }
        .section_header .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          min-height: 4.5rem;
          margin: 0 auto; }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item {
            position: relative;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex; }
            .section_header .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item .menu_links {
              position: relative;
              text-decoration: none;
              height: 100%;
              width: 100%;
              color: black;
              padding: 1.5rem;
              line-height: normal;
              font-size: 1.25rem;
              font-family: 'robotoslablight',sans-serif; }
            .section_header .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item:hover, .section_header .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item .menu_links_active {
              background-color: #3eb5f1;
              color: black; }
        .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper {
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-right: 1rem; }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper:after {
            content: '';
            background-image: url("/img/lang.png");
            height: 9px;
            width: 12px;
            background-repeat: no-repeat;
            -webkit-background-size: 100% 100%;
                    background-size: 100% 100%;
            -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s; }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            opacity: 0;
            width: 0;
            -webkit-transform: scale(0);
                -ms-transform: scale(0);
                    transform: scale(0);
            overflow: hidden; }
            .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item .lang_links {
              text-decoration: none;
              color: black; }
              .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item .lang_links:hover {
                color: #3eb5f1; }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item_active {
            opacity: 1;
            width: 2.66rem;
            -webkit-transform: scale(1);
                -ms-transform: scale(1);
                    transform: scale(1); }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item_open {
            opacity: 1;
            width: 2.66rem;
            -webkit-transform: scale(1);
                -ms-transform: scale(1);
                    transform: scale(1); }
        .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper_active {
          width: 10.5vw;
          padding: 0; }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper_active:after {
            content: '';
            background-image: url("/img/lang.png");
            height: 9px;
            width: 12px;
            background-repeat: no-repeat;
            -webkit-background-size: 100% 100%;
                    background-size: 100% 100%;
            -webkit-transform: rotate(450deg);
                -ms-transform: rotate(450deg);
                    transform: rotate(450deg);
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s; }
        .section_header .header_wrapper .header_menu .header_menu_wrapper .log_in_wrapper {
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .log_in_wrapper .log_in {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex; }

.section_header__small {
  width: 100%;
  height: 4.5rem;
  border-bottom: 2px solid black;
  position: fixed;
  background-color: white;
  z-index: 10;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }
  .section_header__small .header_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 100%;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .section_header__small .header_wrapper .header_logo {
      height: 100%;
      position: relative; }
      .section_header__small .header_wrapper .header_logo .home_link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        padding: .25rem 0;
        -webkit-transition: .5s all;
        -o-transition: .5s all;
        transition: .5s all; }
        .section_header__small .header_wrapper .header_logo .home_link img {
          max-height: 4rem;
          height: 100% !important; }
    .section_header__small .header_wrapper .header_menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .section_header__small .header_wrapper .header_menu .header_menu_wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
            -ms-flex-align: stretch;
                align-items: stretch; }
        .section_header__small .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          min-height: 4.5rem;
          margin: 0 auto; }
          .section_header__small .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item {
            position: relative;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex; }
            .section_header__small .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item .menu_links {
              position: relative;
              text-decoration: none;
              height: 100%;
              width: 100%;
              color: black;
              padding: 1.5rem;
              line-height: normal;
              font-size: 1.25rem;
              font-family: 'robotoslablight',sans-serif; }
            .section_header__small .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item:hover, .section_header__small .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item .menu_links_active {
              background-color: #3eb5f1;
              color: black; }
        .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper {
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-right: 1rem; }
          .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper:after {
            content: '';
            background-image: url("/img/lang.png");
            height: 9px;
            width: 12px;
            background-repeat: no-repeat;
            -webkit-background-size: 100% 100%;
                    background-size: 100% 100%;
            -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s; }
          .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            opacity: 0;
            width: 0;
            -webkit-transform: scale(0);
                -ms-transform: scale(0);
                    transform: scale(0);
            overflow: hidden; }
            .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item .lang_links {
              text-decoration: none;
              color: black; }
              .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item .lang_links:hover {
                color: #3eb5f1; }
          .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item_active {
            opacity: 1;
            width: 2.66rem;
            -webkit-transform: scale(1);
                -ms-transform: scale(1);
                    transform: scale(1); }
          .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item_open {
            opacity: 1;
            width: 2.66rem;
            -webkit-transform: scale(1);
                -ms-transform: scale(1);
                    transform: scale(1); }
        .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper_active {
          width: 10.5vw;
          padding: 0; }
          .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper_active:after {
            content: '';
            background-image: url("/img/lang.png");
            height: 9px;
            width: 12px;
            background-repeat: no-repeat;
            -webkit-background-size: 100% 100%;
                    background-size: 100% 100%;
            -webkit-transform: rotate(450deg);
                -ms-transform: rotate(450deg);
                    transform: rotate(450deg);
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s; }
        .section_header__small .header_wrapper .header_menu .header_menu_wrapper .log_in_wrapper {
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .section_header__small .header_wrapper .header_menu .header_menu_wrapper .log_in_wrapper .log_in {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex; }

.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  height: 24px;
  padding: 0;
  position: relative;
  width: 30px; }
  .burger span {
    position: absolute;
    top: -webkit-calc(50% - 2px);
    top: calc(50% - 2px);
    left: 0;
    right: 0;
    background-color: #3eb5f1;
    height: 4px;
    width: 100%;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all; }
  .burger:after, .burger:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background-color: #3eb5f1;
    height: 4px;
    width: 100%;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all; }
  .burger:after {
    top: 0; }
  .burger:before {
    bottom: 0; }

.burger_active {
  background: none;
  border: none;
  cursor: pointer;
  height: 24px;
  padding: 0;
  position: relative;
  width: 30px; }
  .burger_active span {
    position: absolute;
    top: -webkit-calc(50% - 2px);
    top: calc(50% - 2px);
    left: 0;
    right: 0;
    background-color: #3eb5f1;
    height: 4px;
    width: 0;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all; }
  .burger_active:after, .burger_active:before {
    content: '';
    position: absolute;
    top: -webkit-calc(50% - 2px);
    top: calc(50% - 2px);
    left: 0;
    right: 0;
    background-color: #3eb5f1;
    height: 4px;
    width: 100%;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all; }
  .burger_active:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .burger_active:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

@media screen and (max-width: 1200px) {
  .burger {
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 25px; }
  .section_header {
    width: 100%;
    min-height: 100px;
    height: auto;
    border-bottom: 2px solid black;
    position: fixed;
    background-color: white;
    z-index: 10; }
    .section_header .header_wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      height: 100%;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .section_header .header_wrapper .header_logo {
        height: 100px;
        position: absolute;
        left: 0;
        top: 0; }
        .section_header .header_wrapper .header_logo .home_link {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 150px;
          height: 100%;
          padding: 1.25rem 0; }
          .section_header .header_wrapper .header_logo .home_link img {
            height: 100% !important;
            max-height: 4rem; }
      .section_header .header_wrapper .header_menu {
        margin: 100px 0 50px;
        display: none;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .section_header .header_wrapper .header_menu_active {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .section_header .header_wrapper .header_menu_active .header_menu_wrapper {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          width: 100%; }
          .section_header .header_wrapper .header_menu_active .header_menu_wrapper .menu_wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            width: 100%;
            padding: 0; }
            .section_header .header_wrapper .header_menu_active .header_menu_wrapper .menu_wrapper .menu_item {
              position: relative;
              display: inline-block;
              width: 100%; }
              .section_header .header_wrapper .header_menu_active .header_menu_wrapper .menu_wrapper .menu_item .menu_links {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                text-decoration: none;
                height: 100%;
                width: 100%;
                color: black;
                padding: .5rem 37vw;
                line-height: normal;
                font-size: 1.25rem;
                font-family: 'robotoslablight',sans-serif; }
              .section_header .header_wrapper .header_menu_active .header_menu_wrapper .menu_wrapper .menu_item a:hover {
                background-color: #3eb5f1;
                color: black; }
              .section_header .header_wrapper .header_menu_active .header_menu_wrapper .menu_wrapper .menu_item .active {
                background-color: #3eb5f1;
                color: white; }
          .section_header .header_wrapper .header_menu_active .header_menu_wrapper .lang_wrapper {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            width: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            padding: 0; }
            .section_header .header_wrapper .header_menu_active .header_menu_wrapper .lang_wrapper:after {
              content: none; }
            .section_header .header_wrapper .header_menu_active .header_menu_wrapper .lang_wrapper .lang_item {
              -webkit-box-pack: center;
              -webkit-justify-content: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              opacity: 1;
              width: 100%;
              -webkit-transform: scale(1);
                  -ms-transform: scale(1);
                      transform: scale(1);
              overflow: hidden; }
              .section_header .header_wrapper .header_menu_active .header_menu_wrapper .lang_wrapper .lang_item .lang_links {
                text-decoration: none;
                color: black; }
                .section_header .header_wrapper .header_menu_active .header_menu_wrapper .lang_wrapper .lang_item .lang_links:hover {
                  color: #3eb5f1; }
          .section_header .header_wrapper .header_menu_active .header_menu_wrapper .log_in_wrapper {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center; }
            .section_header .header_wrapper .header_menu_active .header_menu_wrapper .log_in_wrapper .log_in {
              display: -webkit-inline-box;
              display: -webkit-inline-flex;
              display: -ms-inline-flexbox;
              display: inline-flex; } }

.footer {
  padding: 2.5rem 0 1.25rem;
  background-color: #eee; }

.footer_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .footer_wrapper .footer_logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 200px;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    margin: 0 10px 10px; }
  .footer_wrapper .footer_menu {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    max-width: 870px; }
    .footer_wrapper .footer_menu .footer_menu_nav {
      margin-bottom: 1.4vw;
      padding: 0 2.8vw 0 0;
      border-bottom: 1px solid #353535; }
      .footer_wrapper .footer_menu .footer_menu_nav .footer_menu_nav_wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
            -ms-flex-align: stretch;
                align-items: stretch; }
        .footer_wrapper .footer_menu .footer_menu_nav .footer_menu_nav_wrapper .footer_menu_nav_item {
          margin: 0 1.4vw 1.4vw 0;
          display: -webkit-inline-box;
          display: -webkit-inline-flex;
          display: -ms-inline-flexbox;
          display: inline-flex; }
          .footer_wrapper .footer_menu .footer_menu_nav .footer_menu_nav_wrapper .footer_menu_nav_item a {
            color: #353535;
            font-size: 1.2vw;
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            line-height: 1; }
    .footer_wrapper .footer_menu .footer_menu_contact {
      margin-bottom: 1.4vw;
      padding: 0 2.8vw 0 0;
      border-bottom: 1px solid #353535; }
      .footer_wrapper .footer_menu .footer_menu_contact .footer_menu_contact_wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; }
        .footer_wrapper .footer_menu .footer_menu_contact .footer_menu_contact_wrapper .footer_menu_contact_item {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          max-width: 285px;
          margin: 0 1.4vw 1.4vw 0;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .footer_wrapper .footer_menu .footer_menu_contact .footer_menu_contact_wrapper .footer_menu_contact_item img {
            margin-right: 10px; }
          .footer_wrapper .footer_menu .footer_menu_contact .footer_menu_contact_wrapper .footer_menu_contact_item a {
            color: #353535;
            font-size: 1.2vw;
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            line-height: 1; }
    .footer_wrapper .footer_menu .footer_menu_log_in {
      padding: 1.4vw; }
      .footer_wrapper .footer_menu .footer_menu_log_in .log_in {
        height: 30px;
        width: 30px; }
    .footer_wrapper .footer_menu .copyrating .copyrating_text {
      margin-right: 10px; }
    .footer_wrapper .footer_menu .copyrating a {
      color: #353535;
      font-size: 1.2vw;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      line-height: 1; }

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px; }

.carousel {
  padding: 11rem; }

.slide {
  position: relative;
  width: 100%;
  min-height: 33vw;
  height: 100%; }
  .slide .carousel_wrapper {
    position: absolute;
    width: 100%;
    z-index: 5; }
    .slide .carousel_wrapper .carousel_text_wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .slide .carousel_wrapper .carousel_text_wrapper .carousel_text_block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 10rem;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1;
            -ms-flex: 1 1;
                flex: 1 1;
        max-width: 500px; }
        .slide .carousel_wrapper .carousel_text_wrapper .carousel_text_block .carousel_text {
          display: none; }
        .slide .carousel_wrapper .carousel_text_wrapper .carousel_text_block .carousel_title {
          color: white; }
  .slide .carousel_img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .7; }
  .slide:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00111b;
    z-index: 1; }

.owl-dots {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  width: 100%; }
  .owl-dots .active {
    background-color: white !important; }
  .owl-dots .owl-dot {
    margin: 0.7rem; }
    .owl-dots .owl-dot span {
      width: 6rem;
      height: 5px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      transition: 0.5s all;
      background-color: rgba(255, 255, 255, 0.4); }

.about_us {
  background-color: #efefef;
  background: -webkit-radial-gradient(bottom, ellipse, rgba(220, 220, 220, 0.8) 0, rgba(255, 255, 255, 0) 100%);
  background: -o-radial-gradient(bottom, ellipse, rgba(220, 220, 220, 0.8) 0, rgba(255, 255, 255, 0) 100%);
  background: radial-gradient(bottom, ellipse, rgba(220, 220, 220, 0.8) 0, rgba(255, 255, 255, 0) 100%); }

.about_us_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .about_us_wrapper .about_us_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .about_us_wrapper .about_us_block .about_us_left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1;
          -ms-flex: 1 1;
              flex: 1 1;
      max-width: 555px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .about_us_wrapper .about_us_block .about_us_right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1;
          -ms-flex: 1 1;
              flex: 1 1;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }

.map_block {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .map_block #map {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
  .map_block .map_info_wrapper {
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 50%;
    background: -webkit-gradient(linear, left top, right top, color-stop(70%, rgba(53, 53, 53, 0.8)), color-stop(80%, rgba(53, 53, 53, 0.7)), to(rgba(53, 53, 53, 0)));
    background: -webkit-linear-gradient(left, rgba(53, 53, 53, 0.8) 70%, rgba(53, 53, 53, 0.7) 80%, rgba(53, 53, 53, 0) 100%);
    background: -o-linear-gradient(left, rgba(53, 53, 53, 0.8) 70%, rgba(53, 53, 53, 0.7) 80%, rgba(53, 53, 53, 0) 100%);
    background: linear-gradient(to right, rgba(53, 53, 53, 0.8) 70%, rgba(53, 53, 53, 0.7) 80%, rgba(53, 53, 53, 0) 100%); }
    .map_block .map_info_wrapper .map_info_menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      max-width: 400px;
      padding: 3rem 0; }
      .map_block .map_info_wrapper .map_info_menu .map_info_item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .map_block .map_info_wrapper .map_info_menu .map_info_item .map_info_link {
          margin-left: 10px;
          color: white;
          -webkit-transition: 0.5s all;
          -o-transition: 0.5s all;
          transition: 0.5s all; }
          .map_block .map_info_wrapper .map_info_menu .map_info_item .map_info_link:hover {
            color: #3eb5f1; }

.about_us_company {
  width: 100%;
  position: relative;
  min-height: 600px; }

.about_us_company:after {
  content: '';
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background-image: url("/img/about_company_img-1920x562.png") !important;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }

.company_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .company_wrapper .tittle_us_company {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin-top: 12.5vw;
    color: white; }
  .company_wrapper .text_us_company {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: white;
    max-width: 700px; }

.history_line {
  padding: 1.7vw;
  margin-bottom: 1.7vw; }
  .history_line a {
    color: #3db5f1;
    text-decoration: none; }
  .history_line .history_item {
    margin: 0 5px; }
  .history_line .page_content .alignleft {
    float: left;
    margin: 0 1em 1em 0; }

.categories_padding {
  padding: 3.75rem 0; }

.category_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .category_wrapper .category_item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 340px;
        -ms-flex: 0 1 340px;
            flex: 0 1 340px;
    cursor: pointer;
    background-color: #3db5f1;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    overflow: hidden;
    height: 5rem;
    margin: 0 1.25rem 1.25rem;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .category_wrapper .category_item:hover .item_image {
      z-index: -1;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0); }
    .category_wrapper .category_item:hover .items_image:after {
      left: -webkit-calc(50% - 6px);
      left: calc(50% - 6px); }
    .category_wrapper .category_item:hover .category_link:after {
      width: 100%; }
    .category_wrapper .category_item .category_link {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 0;
          -ms-flex: 1 1 0px;
              flex: 1 1 0;
      padding: 1.25rem;
      overflow: hidden; }
      .category_wrapper .category_item .category_link:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #353535;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
      .category_wrapper .category_item .category_link .item_name {
        position: relative;
        z-index: 2;
        color: white;
        margin: 0; }
    .category_wrapper .category_item .items_image {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 5rem;
      background-color: #353535;
      overflow: hidden; }
      .category_wrapper .category_item .items_image:after {
        content: '';
        top: -webkit-calc(50% - 11px);
        top: calc(50% - 11px);
        position: absolute;
        left: 150%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 13px;
        height: 23px;
        background-image: url("/img/link_right_icon.png");
        background-repeat: no-repeat;
        -webkit-background-size: 100% 100%;
                background-size: 100% 100%;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
      .category_wrapper .category_item .items_image .item_image {
        max-width: 70%;
        opacity: 1;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }

.contact_block_info {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  width: 100%; }
  .contact_block_info:before, .contact_block_info:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute; }
  .contact_block_info:before {
    background-image: url("/img/contact_img_bg_original-1620x749.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
            background-size: cover;
    z-index: -2; }
  .contact_block_info:after {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.45); }

.contact_info_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-calc(25rem + 10vh);
  min-height: calc(25rem + 10vh); }
  .contact_info_wrapper .contact_block_title {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center; }
    .contact_info_wrapper .contact_block_title .contact_info_title {
      color: white; }
  .contact_info_wrapper .contact_info_text {
    position: relative;
    z-index: 1;
    width: 100%; }
    .contact_info_wrapper .contact_info_text .contact_info_menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .contact_info_wrapper .contact_info_text .contact_info_menu .contact_info_item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 250px;
            -ms-flex: 1 1 250px;
                flex: 1 1 250px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        padding: 1rem;
        border-right: 1px solid white; }
        .contact_info_wrapper .contact_info_text .contact_info_menu .contact_info_item:last-child {
          border-right: none; }
        .contact_info_wrapper .contact_info_text .contact_info_menu .contact_info_item .contact_info_link {
          margin-left: 10px;
          color: white;
          -webkit-transition: 0.5s all;
          -o-transition: 0.5s all;
          transition: 0.5s all; }
          .contact_info_wrapper .contact_info_text .contact_info_menu .contact_info_item .contact_info_link:hover {
            color: #3eb5f1; }

.controll_block_info {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  width: 100%; }
  .controll_block_info:before, .controll_block_info:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute; }
  .controll_block_info:before {
    background-image: url("/img/page_img_bg_original-1611x749.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
            background-size: cover;
    z-index: -2; }
  .controll_block_info:after {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.45); }

.controll_info_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: -webkit-calc(25rem + 10vh);
  min-height: calc(25rem + 10vh); }
  .controll_info_wrapper .controll_block_title {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center; }
    .controll_info_wrapper .controll_block_title .controll_info_title {
      color: white; }
  .controll_info_wrapper .controll_info_text {
    position: relative;
    z-index: 1;
    width: 100%; }
    .controll_info_wrapper .controll_info_text p {
      color: white; }

.controll_links_menu {
  margin-bottom: 4rem; }
  .controll_links_menu li {
    position: relative; }
    .controll_links_menu li:before {
      position: relative;
      left: 0;
      content: '';
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 8px;
      height: 8px;
      margin-right: 1.25rem;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      background-color: #3eb5f1; }
    .controll_links_menu li a {
      color: black;
      text-decoration: underline; }

.catalog_top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px; }
  .catalog_top:before, .catalog_top:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute; }
  .catalog_top:before {
    background-image: url("/img/category_img_bg_original.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
            background-size: cover;
    z-index: -2; }
  .catalog_top:after {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.45); }

.catalog_top_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: -webkit-calc(23rem + 10vh);
  min-height: calc(23rem + 10vh); }
  .catalog_top_wrapper .catalog_top_title {
    position: relative;
    width: 100%;
    text-align: center; }
    .catalog_top_wrapper .catalog_top_title .catalog_tittle {
      color: white; }
  .catalog_top_wrapper .catalog_top_menu {
    position: relative;
    z-index: 1; }
    .catalog_top_wrapper .catalog_top_menu .catalog_menu_wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .catalog_top_wrapper .catalog_top_menu .catalog_menu_wrapper .catalog_menu_item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 250px;
            -ms-flex: 1 1 250px;
                flex: 1 1 250px;
        position: relative;
        cursor: pointer;
        margin: 0 1.2rem 1.2rem 0;
        max-width: 280px;
        min-height: 3rem;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        .catalog_top_wrapper .catalog_top_menu .catalog_menu_wrapper .catalog_menu_item .catalog_menu_link {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-flex: 1;
          -webkit-flex: 1 1 0;
              -ms-flex: 1 1 0px;
                  flex: 1 1 0;
          text-align: center;
          padding: 0 1.5rem;
          background-color: rgba(0, 0, 0, 0.1);
          border: 1px solid #3eb5f1;
          color: white;
          cursor: pointer;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          font-size: 1.5rem;
          z-index: 1; }
          .catalog_top_wrapper .catalog_top_menu .catalog_menu_wrapper .catalog_menu_item .catalog_menu_link:hover {
            background-color: rgba(62, 181, 241, 0.5);
            color: white; }
        .catalog_top_wrapper .catalog_top_menu .catalog_menu_wrapper .catalog_menu_item .catalog_menu_link_active {
          background-color: #3eb5f1; }
        .catalog_top_wrapper .catalog_top_menu .catalog_menu_wrapper .catalog_menu_item .catalog_menu_link_submenu {
          text-align: left;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          position: relative; }
          .catalog_top_wrapper .catalog_top_menu .catalog_menu_wrapper .catalog_menu_item .catalog_menu_link_submenu:after {
            content: '';
            background-image: url("/img/top.png");
            height: 12px;
            background-repeat: no-repeat;
            -webkit-background-size: 100% 100%;
                    background-size: 100% 100%;
            -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 1.2rem;
                -ms-flex: 0 0 1.2rem;
                    flex: 0 0 1.2rem; }
          .catalog_top_wrapper .catalog_top_menu .catalog_menu_wrapper .catalog_menu_item .catalog_menu_link_submenu .catalog_menu_link_submenu_active {
            -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            background-color: #3eb5f1; }

.catalog_minimenu_wrapper {
  display: none; }

.catalog_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .catalog_wrapper .catalog_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .catalog_wrapper .catalog_menu .catalog_item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 300px;
          -ms-flex: 1 1 300px;
              flex: 1 1 300px;
      cursor: pointer;
      position: relative;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 1rem;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      border: 1px solid #9b9b9b;
      margin: 0 1rem 1rem 0; }
      .catalog_wrapper .catalog_menu .catalog_item .cataloge_item_img {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100px;
            -ms-flex: 0 0 100px;
                flex: 0 0 100px;
        margin-right: 1rem; }
      .catalog_wrapper .catalog_menu .catalog_item .catalog_item_info {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 0;
            -ms-flex: 1 1 0px;
                flex: 1 1 0;
        line-height: 1; }

.warning {
  min-height: 50px;
  background-color: #353535; }
  .warning .container_warning {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px); }
    .warning .container_warning .warning_message {
      color: white;
      text-align: center;
      font-size: 3.3vw;
      padding: 1.3rem 0;
      margin: 0; }
