@import url(http://allfont.ru/allfont.css?fonts=roboto-slab-light);
*, :before, :after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  min-width: 320px;
  font-size: 18px;
  margin: 0px;
  line-height: 1.875rem;
  font-family: 'Roboto Slab Light',sans-serif; }

img {
  max-width: 100%;
  height: auto !important;
  -o-object-fit: cover;
     object-fit: cover; }

video {
  max-width: 100%;
  height: auto; }

p {
  font-size: 18px;
  font-family: 'Roboto Slab Light',sans-serif; }

h5, h6, p {
  margin-bottom: 1.25rem; }

a {
  text-decoration: none; }

.section_header {
  display: none;
  width: 100%;
  height: 11rem;
  border-bottom: 2px solid black;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 10; }
  .section_header .header_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 100%; }
    .section_header .header_wrapper .header_logo {
      height: 100%;
      position: relative; }
      .section_header .header_wrapper .header_logo .home_link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        padding: 1.25rem 0; }
        .section_header .header_wrapper .header_logo .home_link img {
          height: 100% !important; }
    .section_header .header_wrapper .header_menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .section_header .header_wrapper .header_menu .header_menu_wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
            -ms-flex-align: stretch;
                align-items: stretch; }
        .section_header .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap; }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item {
            position: relative;
            display: inline-block; }
            .section_header .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item .menu_links {
              text-decoration: none;
              height: 100%;
              width: 100%;
              color: black;
              padding: 1.25rem;
              line-height: normal;
              font-size: 1.25rem;
              font-family: 'robotoslablight',sans-serif; }
            .section_header .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item .active {
              background-color: #3eb5f1;
              color: white; }
        .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper {
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 4.6vw;
          margin-right: 1rem; }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper:after {
            content: '';
            background-image: url("/img/lang.png");
            height: 9px;
            width: 12px;
            background-repeat: no-repeat;
            -webkit-background-size: 100% 100%;
                    background-size: 100% 100%;
            -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s; }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            opacity: 0;
            width: 0;
            -webkit-transform: scale(0);
                -ms-transform: scale(0);
                    transform: scale(0);
            overflow: hidden; }
            .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item .lang_links {
              text-decoration: none;
              color: black; }
              .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item .lang_links:hover {
                color: #3eb5f1; }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item_active {
            opacity: 1;
            width: 2.66rem;
            -webkit-transform: scale(1);
                -ms-transform: scale(1);
                    transform: scale(1); }
        .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper_active {
          width: 10.5vw; }
        .section_header .header_wrapper .header_menu .header_menu_wrapper .log_in_wrapper {
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .log_in_wrapper .log_in {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex; }

.section_header__small {
  display: none;
  width: 100%;
  height: 4.5rem;
  border-bottom: 2px solid black;
  position: fixed;
  background-color: white;
  z-index: 10; }
  .section_header__small .header_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 100%;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .section_header__small .header_wrapper .header_logo {
      height: 100%;
      position: relative; }
      .section_header__small .header_wrapper .header_logo .home_link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        padding: .25rem 0; }
        .section_header__small .header_wrapper .header_logo .home_link img {
          max-height: 4rem;
          height: 100% !important; }
    .section_header__small .header_wrapper .header_menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .section_header__small .header_wrapper .header_menu .header_menu_wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
            -ms-flex-align: stretch;
                align-items: stretch; }
        .section_header__small .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          min-height: 4.5rem;
          margin: 0 auto; }
          .section_header__small .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item {
            position: relative;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex; }
            .section_header__small .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item .menu_links {
              position: relative;
              text-decoration: none;
              height: 100%;
              width: 100%;
              color: black;
              padding: 1.5rem;
              line-height: normal;
              font-size: 1.25rem;
              font-family: 'robotoslablight',sans-serif; }
              .section_header__small .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item .menu_links:after {
                content: '';
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: #3eb5f1; }
            .section_header__small .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item:hover .menu_links:after {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex; }
        .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper {
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-right: 1rem; }
          .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper:after {
            content: '';
            background-image: url("/img/lang.png");
            height: 9px;
            width: 12px;
            background-repeat: no-repeat;
            -webkit-background-size: 100% 100%;
                    background-size: 100% 100%;
            -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s; }
          .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            opacity: 0;
            width: 0;
            -webkit-transform: scale(0);
                -ms-transform: scale(0);
                    transform: scale(0);
            overflow: hidden; }
            .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item .lang_links {
              text-decoration: none;
              color: black; }
              .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item .lang_links:hover {
                color: #3eb5f1; }
          .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item_active {
            opacity: 1;
            width: 2.66rem;
            -webkit-transform: scale(1);
                -ms-transform: scale(1);
                    transform: scale(1); }
        .section_header__small .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper_active {
          width: 10.5vw; }
        .section_header__small .header_wrapper .header_menu .header_menu_wrapper .log_in_wrapper {
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .section_header__small .header_wrapper .header_menu .header_menu_wrapper .log_in_wrapper .log_in {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex; }

.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  height: 24px;
  padding: 0;
  position: relative;
  width: 30px; }
  .burger span {
    position: absolute;
    top: -webkit-calc(50% - 2px);
    top: calc(50% - 2px);
    left: 0;
    right: 0;
    background-color: #3eb5f1;
    height: 4px;
    width: 100%;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all; }
  .burger:after, .burger:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background-color: #3eb5f1;
    height: 4px;
    width: 100%;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all; }
  .burger:after {
    top: 0; }
  .burger:before {
    bottom: 0; }

.burger_active {
  background: none;
  border: none;
  cursor: pointer;
  height: 24px;
  padding: 0;
  position: relative;
  width: 30px; }
  .burger_active span {
    position: absolute;
    top: -webkit-calc(50% - 2px);
    top: calc(50% - 2px);
    left: 0;
    right: 0;
    background-color: #3eb5f1;
    height: 4px;
    width: 0;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all; }
  .burger_active:after, .burger_active:before {
    content: '';
    position: absolute;
    top: -webkit-calc(50% - 2px);
    top: calc(50% - 2px);
    left: 0;
    right: 0;
    background-color: #3eb5f1;
    height: 4px;
    width: 100%;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all; }
  .burger_active:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .burger_active:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

@media screen and (max-width: 1200px) {
  .burger {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 25px; }
  .section_header {
    display: none;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 10; }
    .section_header .header_wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .section_header .header_wrapper .header_logo {
        height: 100%;
        position: relative; }
        .section_header .header_wrapper .header_logo .home_link {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 150px;
          height: 100%;
          padding: 1.25rem 0; }
          .section_header .header_wrapper .header_logo .home_link img {
            height: 100% !important;
            max-height: 4rem; }
      .section_header .header_wrapper .header_menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end; }
        .section_header .header_wrapper .header_menu .header_menu_wrapper {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          -webkit-box-align: stretch;
          -webkit-align-items: stretch;
              -ms-flex-align: stretch;
                  align-items: stretch;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column; }
            .section_header .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item {
              position: relative;
              display: inline-block; }
              .section_header .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item .menu_links {
                text-decoration: none;
                height: 100%;
                width: 100%;
                color: black;
                padding: 1.25rem;
                line-height: normal;
                font-size: 1.25rem;
                font-family: 'robotoslablight',sans-serif; }
              .section_header .header_wrapper .header_menu .header_menu_wrapper .menu_wrapper .menu_item .active {
                background-color: #3eb5f1;
                color: white; }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            width: 100%;
            margin-right: 1rem;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column; }
            .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper:after {
              content: none; }
            .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              opacity: 1;
              width: 100%;
              -webkit-transform: scale(1);
                  -ms-transform: scale(1);
                      transform: scale(1);
              overflow: hidden; }
              .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item .lang_links {
                text-decoration: none;
                color: black; }
                .section_header .header_wrapper .header_menu .header_menu_wrapper .lang_wrapper .lang_item .lang_links:hover {
                  color: #3eb5f1; }
          .section_header .header_wrapper .header_menu .header_menu_wrapper .log_in_wrapper {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center; }
            .section_header .header_wrapper .header_menu .header_menu_wrapper .log_in_wrapper .log_in {
              display: -webkit-inline-box;
              display: -webkit-inline-flex;
              display: -ms-inline-flexbox;
              display: inline-flex; } }

.footer {
  padding: 2.5rem 0 1.25rem;
  background-color: #eee; }

.footer_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .footer_wrapper .footer_logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 200px;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    margin: 0 10px 10px; }
  .footer_wrapper .footer_menu {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    max-width: 870px; }
    .footer_wrapper .footer_menu .footer_menu_nav {
      margin-bottom: 1.4vw;
      padding: 0 2.8vw 0 0;
      border-bottom: 1px solid #353535; }
      .footer_wrapper .footer_menu .footer_menu_nav .footer_menu_nav_wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
            -ms-flex-align: stretch;
                align-items: stretch; }
        .footer_wrapper .footer_menu .footer_menu_nav .footer_menu_nav_wrapper .footer_menu_nav_item {
          margin: 0 1.4vw 1.4vw 0;
          display: -webkit-inline-box;
          display: -webkit-inline-flex;
          display: -ms-inline-flexbox;
          display: inline-flex; }
          .footer_wrapper .footer_menu .footer_menu_nav .footer_menu_nav_wrapper .footer_menu_nav_item a {
            color: #353535;
            font-size: 1.2vw;
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            line-height: 1; }
    .footer_wrapper .footer_menu .footer_menu_contact {
      margin-bottom: 1.4vw;
      padding: 0 2.8vw 0 0;
      border-bottom: 1px solid #353535; }
      .footer_wrapper .footer_menu .footer_menu_contact .footer_menu_contact_wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; }
        .footer_wrapper .footer_menu .footer_menu_contact .footer_menu_contact_wrapper .footer_menu_contact_item {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          max-width: 285px;
          margin: 0 1.4vw 1.4vw 0;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .footer_wrapper .footer_menu .footer_menu_contact .footer_menu_contact_wrapper .footer_menu_contact_item img {
            margin-right: 10px; }
          .footer_wrapper .footer_menu .footer_menu_contact .footer_menu_contact_wrapper .footer_menu_contact_item a {
            color: #353535;
            font-size: 1.2vw;
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            line-height: 1; }
    .footer_wrapper .footer_menu .footer_menu_log_in {
      padding: 1.4vw; }
      .footer_wrapper .footer_menu .footer_menu_log_in .log_in {
        height: 30px;
        width: 30px; }
    .footer_wrapper .footer_menu .copyrating .copyrating_text {
      margin-right: 10px; }
    .footer_wrapper .footer_menu .copyrating a {
      color: #353535;
      font-size: 1.2vw;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      line-height: 1; }

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px; }

.about_us {
  height: 800px;
  background-color: black; }

.maps {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px; }
  .maps iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }

.about_us_company {
  width: 100%;
  position: relative;
  min-height: 600px; }

.about_us_company:after {
  content: '';
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background-image: url("/img/about_company_img-1920x562.png") !important;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }

.company_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .company_wrapper .tittle_us_company {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin-top: 12.5vw;
    color: white; }
  .company_wrapper .text_us_company {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: white;
    max-width: 700px; }

.history_line {
  padding: 1.7vw;
  margin-bottom: 1.7vw; }
  .history_line a {
    color: #3db5f1;
    text-decoration: none; }
  .history_line .history_item {
    margin: 0 5px; }
  .history_line .page_content .alignleft {
    float: left;
    margin: 0 1em 1em 0; }

.categories_padding {
  padding: 3.75rem 0; }

.category_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .category_wrapper .category_item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 340px;
        -ms-flex: 0 1 340px;
            flex: 0 1 340px;
    cursor: pointer;
    background-color: #3db5f1;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    overflow: hidden;
    height: 5rem;
    margin: 0 1.25rem 1.25rem;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .category_wrapper .category_item:hover .item_image {
      z-index: -1;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0); }
    .category_wrapper .category_item:hover .items_image:after {
      left: -webkit-calc(50% - 6px);
      left: calc(50% - 6px); }
    .category_wrapper .category_item:hover .category_link:after {
      width: 100%; }
    .category_wrapper .category_item .category_link {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 0;
          -ms-flex: 1 1 0px;
              flex: 1 1 0;
      padding: 1.25rem;
      overflow: hidden; }
      .category_wrapper .category_item .category_link:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #353535;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
      .category_wrapper .category_item .category_link .item_name {
        position: relative;
        z-index: 2;
        color: white;
        margin: 0; }
    .category_wrapper .category_item .items_image {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 5rem;
      background-color: #353535;
      overflow: hidden; }
      .category_wrapper .category_item .items_image:after {
        content: '';
        top: -webkit-calc(50% - 11px);
        top: calc(50% - 11px);
        position: absolute;
        left: 150%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 13px;
        height: 23px;
        background-image: url("/img/link_right_icon.png");
        background-repeat: no-repeat;
        -webkit-background-size: 100% 100%;
                background-size: 100% 100%;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
      .category_wrapper .category_item .items_image .item_image {
        max-width: 70%;
        opacity: 1;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
