div.categories_padding
    div.container
        div.category_wrapper
            div.category_item
                a(href="#").category_link
                    h3.item_name Нервная система
                div.items_image
                    img(src="img/category_icon_1.png").item_image
            div.category_item
                a(href="#").category_link
                    h3.item_name Нервная система
                div.items_image
                    img(src="img/category_icon_1.png").item_image
            div.category_item
                a(href="#").category_link
                    h3.item_name Нервная система
                div.items_image
                    img(src="img/category_icon_1.png").item_image