footer.footer
    div.container
        div.footer_wrapper
            div.footer_logo
                img(src="img/logo.png")
            div.footer_menu
                div.footer_menu_nav
                    ul.footer_menu_nav_wrapper
                        li.footer_menu_nav_item
                            a(href="#") Про компанію
                        li.footer_menu_nav_item
                            a(href="#") Каталог препаратів
                        li.footer_menu_nav_item
                            a(href="#") Фармаконагляд
                        li.footer_menu_nav_item
                            a(href="#") Контакти
                div.footer_menu_contact
                    ul.footer_menu_contact_wrapper
                        li.footer_menu_contact_item
                            img(src="img/map_icon.png").footer_menu_contact_item_img
                            a(href="#").footer_menu_contact_item_link 03127, Україна, Київ, Голосіївський проспект 132
                        li.footer_menu_contact_item
                            img(src="img/tel_icon.png").footer_menu_contact_item_img
                            a(href="#").footer_menu_contact_item_link +38 (044) 29-00-308
                        li.footer_menu_contact_item
                            img(src="img/mail_icon.png").footer_menu_contact_item_img
                            a(href="#").footer_menu_contact_item_link office@ffd.com.ua
                div.footer_menu_log_in
                    a(href="#").log_in
                        img(src="img/in_icon.png")
                div.copyrating
                    span.copyrating_text Розробка сайту
                    a(href="https://www.seotm.com/").copyrating_link SEOTM Digital Agency