section.section_header
    div.container
        div.header_wrapper
            div.header_logo
                a(href="/index.html").home_link
                    img(src="img/logo.png")
            div.burger
                span
            div.header_menu
                div.header_menu_wrapper
                    nav.main_menu
                        ul.menu_wrapper
                            li.menu_item
                                a(href="/about.html").menu_links О компании
                            li.menu_item
                                a(href="/catalog.html").menu_links Каталог препаратов
                            li.menu_item
                                a(href="/controll.html").menu_links Фармаконадзор
                            li.menu_item
                                a(href="/contact.html").menu_links Контакты
                    div.other_menu
                        ul.lang_wrapper
                            li.lang_item.lang_item_active
                                a(href="#" onclick="return false").lang_links rus
                            li.lang_item
                                a(href="#").lang_links ukr
                            li.lang_item
                                a(href="#").lang_links eng
                    div.log_in_wrapper
                        a(href="/item-cart.html").log_in
                            img(src="img/in_icon.png")