.catalog_top
  position: relative
  display: flex
  min-height: 500px
  &:before, &:after
    content: ''
    top: 0
    left: 0
    right: 0
    bottom: 0
    position: absolute
  &:before
    background-image: url("/img/category_img_bg_original.jpg")
    background-repeat: no-repeat
    width: 100%
    height: 100%
    background-size: cover
    z-index: -2
  &:after
    z-index: -1
    background-color: rgba(0, 0, 0, .45)
.catalog_top_wrapper
  display: flex
  flex-direction: column
  justify-content: flex-end
  min-height: calc(23rem + 10vh)
  .catalog_top_title
    position: relative
    width: 100%
    text-align: center
    .catalog_tittle
      color: $white
  .catalog_top_menu
    position: relative
    z-index: 1
    .catalog_menu_wrapper
      display: flex
      flex-wrap: wrap
      .catalog_menu_item
        display: flex
        justify-content: space-between
        flex: 1 1 250px
        position: relative
        cursor: pointer
        margin: 0 1.2rem 1.2rem 0
        max-width: 280px
        min-height: 3rem
        transition: all 0.5s
        .catalog_menu_link
          display: flex
          justify-content: center
          align-items: center
          flex: 1 1 0
          text-align: center
          padding: 0 1.5rem
          background-color: rgba(0,0,0,.1)
          border: 1px solid $blue
          color: $white
          cursor: pointer
          transition: all 0.5s
          font-size: 1.5rem
          z-index: 1
          &:hover
            background-color: rgba(62, 181, 241, .5)
            color: $white
        .catalog_menu_link_active
          background-color: $blue
        .catalog_menu_link_submenu
          text-align: left
          justify-content: space-between
          position: relative
          &:after
            content: ''
            background-image: url("/img/top.png")
            height: 12px
            background-repeat: no-repeat
            background-size: 100% 100%
            transform: rotate(180deg)
            transition: all 1s
            display: flex
            flex: 0 0 1.2rem
          .catalog_menu_link_submenu_active
            box-shadow: 0 0 10px rgba(0,0,0,.5)
            background-color: $blue


.catalog_minimenu_wrapper
  display: none



.catalog_wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative
  .catalog_menu
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    align-items: center
    .catalog_item
      display: flex
      flex: 1 1 300px
      cursor: pointer
      position: relative
      align-items: center
      justify-content: center
      padding: 1rem
      transition: all 0.5s
      border: 1px solid rgba(155, 155, 155, 1)
      margin: 0 1rem 1rem 0
      .cataloge_item_img
        flex: 0 0 100px
        margin-right: 1rem
      .catalog_item_info
        flex: 1 1 0
        line-height: 1


.warning
  min-height: 50px
  background-color: rgba(53, 53, 53, 1)
  .container_warning
    width: calc(100% - 20px)
    .warning_message
      color: $white
      text-align: center
      font-size: 3.3vw
      padding: 1.3rem 0
      margin: 0
