.section_header
  width: 100%
  height: 11rem
  border-bottom: 2px solid rgba(0, 0, 0, 1)
  position: fixed
  background-color: rgba(255, 255, 255, .85)
  z-index: 10
  .header_wrapper
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    height: 100%
    .header_logo
      height: 100%
      position: relative
      .home_link
        display: flex
        align-items: center
        width: 100%
        height: 100%
        padding: 1.25rem 0
        img
          height: 100% !important
    .header_menu
      display: flex
      align-items: flex-end
      .header_menu_wrapper
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        align-items: stretch
        .menu_wrapper
          display: flex
          flex-wrap: wrap
          .menu_item
            position: relative
            display: inline-block
            .menu_links
              text-decoration: none
              height: 100%
              width: 100%
              color: $black
              padding: 1.25rem
              line-height: normal
              font-size: 1.25rem
              font-family: 'robotoslablight',sans-serif
            .active
              background-color: $blue
              color: $white
        .lang_wrapper
          position: relative
          display: flex
          align-items: center
          width: 4.6vw
          margin-right: 1rem
          &:after
            content: ''
            background-image: url("/img/lang.png")
            height: 9px
            width: 12px
            background-repeat: no-repeat
            background-size: 100% 100%
            transform: rotate(0deg)
            transition: all .5s
          .lang_item
            display: flex
            opacity: 0
            width: 0
            transform: scale(0)
            overflow: hidden
            .lang_links
              text-decoration: none
              color: $black
              &:hover
                color: #3eb5f1
          .lang_item_active
            opacity: 1
            width: 2.66rem
            transform: scale(1)
        .lang_wrapper_active
          width: 10.5vw
        .log_in_wrapper
          position: relative
          display: flex
          align-items: center
          .log_in
            display: inline-flex




