@import "bourbon"
@import "var"
@import "general"
@import "_header"
@import "_footer"
@import url(http://allfont.ru/allfont.css?fonts=roboto-slab-light)

.container
  max-width: 1240px
  width: 100%
  margin: 0 auto
  padding-left: 10px
  padding-right: 10px

.carousel
  padding: 11rem

.about_us_wrapper
  display: flex



.maps
  position: relative
  overflow: hidden
  width: 100%
  height: 500px
  iframe
    position: absolute
    height: 100%
    width: 100%
    top: 0
    left: 0

@import "_about"
@import "_category"

    